<header class="header main">
        <div class="title">
          <h1><%- link_to_if(showLinks, 'Richard Willis', '/') %></h1>
          <p>Freelance Web Developer</p>
        </div>
        <ul class="contact">
          <li><%- link_to_if(showLinks, 'richard@proxima-web.com', 'mailto:richard@proxima-web.com') %></li>
          <li><%- link_to_if(showLinks, 'richardwillis.co', 'http://richardwillis.co') %></li>
          <li><%= number %></li>
          <li><%= location %></li>
        </ul>
      </header>
